.main-simpson {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  /* background-color: #ccc8e3; */
  background-image: linear-gradient(#e0c3fc, #8ec5fc, #ba7af8);
  height: 100%;
}

.main-simpson .card {
  background-color: powderblue;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-simpson .card img {
  width: 60%;
  height: 80%;
}

.main-simpson .card h2 {
  justify-content: center;
  color: blue;
}

.main-simpson button {
  background-color: #8ec5fc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 4px 2px;
  cursor: pointer;
  height: 100px;
}

@media (max-width: 768px) {
  .main-simpson {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    padding: 3rem;
  }
  .main-simpson .card {
    margin: 2rem;
    background-color: wheat;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-simpson button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
}
